h1{
    color:maroon;text-align:center;font-size: 50;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 6px 6px 6px maroon;
    border: 3px maroon solid;
    text-shadow: 1px 3px 3px maroon;
    border-radius:10px ;
}
body{
    background-color:beige;
    color: mediumaquamarine;
}
.img{        
    margin: auto;
    display:block;
    width: 200px;
    
}
p
{
    font-size: 22;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 95%;
}

.intro
{
    background-color: white;
    border: 6px  antiquewhite solid;
    border-radius:10px ;
    padding: 10px;
}
#bordure
{
    border: 6px black solid;
}
input:focus
{
        background-color: #77FF88;
}
button
{
    color: salmon;
    margin:auto;
    display:flex;
}